<table>
  <tr>
    <th>Imagen</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
    <th>&nbsp;</th>
  </tr>
  <% Compra.carrito.each do |v| %>
  <tr>
    <td><%=  %></td>
      
  </tr>
  <% end %>
</table>